* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #D08770;
}

.fa {
    color: #D08770;
}

a:focus {
    outline: none;
}

.fa:active {
    color: #B48EAD;
}

.alert {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: transparent;
    font-size: xx-large;
    width: 100%;
    height: 10px;
    color: #A3BE8C;
}

.refresh {
    margin: auto;
    background-color: transparent;
    height: 50px;
    max-width: 50px;
    border: none;
    color: #81A1C1;
}

.refresh:active {
    color:#B48EAD;
}

.refresh:focus {
    color: #ECEFF4;
    outline: none;
}

.refresh::before,
.refresh::after {
    --scale: 0;
    position: absolute;
    top: 268px;
    margin-left: 28px;
    height: 21px;
    width: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-style: italic;
    transform: translateX(-1%) translateY(5%) scale(var(--scale));
    transition: 50ms transform;
}

.refresh::before {
    content: attr(data-tooltip);
    color: #ECEFF4;
    padding: 0.5rem;
    width: max-content;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* .layout_changer::after {
    content: "";
    border: 10px solid transparent;
    border-top-color: black;
} */

.refresh:hover::before,
.refresh:hover::after {
    --scale: 1;
}

/* to add more color themes, change here */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.2s;
    background-color:#2E3440;
    color: #ECEFF4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
n
.main {
    
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}