* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}

.alert {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: transparent;
    font-size: xx-large;
    width: 100%;
    height: 10px;
    color: green;
}

.refresh {
    margin: auto;
    background-color: transparent;
    height: 50px;
    max-width: 50px;
    border: none;
    color: 	#404040;
}

.refresh:active {
    color: white;
}

.refresh:focus {
    color: white;
    outline: none;
}

/* to add more color themes, change here */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.2s;
    background-color: #181818;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    
}