.layout_box {
    /* position: fixed;
    top: 89.1%;
    left: 50%;
    margin: -25px 0 0 -25px; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 22px;
}

.layout_changer {
    /* float: left; */
    color: 	#88C0D0;
    font-size: larger;
    align-self: flex-end;
}

.layout_tooltip {
    position: relative;
    height: 60px;
    width: 250px;
    background: rgba(0, 0, 0, 0.5);
    color: #ECEFF4;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}

.layout_button {
    /* float: right; */
    /* margin-top: 1px; */
    background-color: transparent;
    color: 	#8FBCBB;
    border: none;
    height: 20px;
    width: 20px;
}

.layout_button:active {
    color: #B48EAD;
}

.layout_button:focus {
    outline: none;
    color: #ECEFF4;
}