.text_display {
    width: 100%;
    max-width: 800px;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid green;
}

.text_input {
    width: 100%;
    max-width: 800px;
    height: 3rem;
    margin: auto;
    white-space: pre;
    overflow-x: hidden;
    overflow-y: hidden;
    resize: none;
    outline: none;
    padding: 0.4rem 0.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: transparent;
}

.text_input:focus {
    border-color: green;
}